on:
  push:
jobs:
  semantic-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - uses: oven-sh/setup-bun@v2
      - run: bun i
      - run: bun run test
      - run: bun run build
      - run: npx semantic-release
        env:
          # reminder to setup read/write permission for this token
          # here: REPO_URL/settings/actions
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
